<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipes</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav aria-label="Main Navigation">
    <h1><a href="/">Isolated Smoothies</a></h1>
    <ul>
      <% if (user) { %>
        <li>Welcome, <%= user.email %></li>
        <li>
          <a href="/logout">Log Out</a>
        </li>
      <% } else { %>
        <li>
          <a href="/login">Login</a>
        </li>
        <li>
          <a href="/signup" class="btn">Signup</a>
        </li>
      <% } %>
    </ul>
  </nav>
</body>
</html>
